<mat-expansion-panel hideToggle="true" id="matPanelExpansion{{data.Id}}" class="matPanelExpansion" #matPanelExpansion [(expanded)]="data.isExpanded">
  <mat-expansion-panel-header (click)=expandCollapse(data,matPanelExpansion)>
    <td style="width: 385px !important;">
      <mat-panel-title>
        <mat-icon style="color: #A6A6A6; margin-top: 5px;font-size: 30px;" *ngIf="!matPanelExpansion.expanded">keyboard_arrow_right</mat-icon>
        <mat-icon style="color: #A6A6A6; margin-top: 5px;font-size: 30px;" *ngIf="matPanelExpansion.expanded">keyboard_arrow_down</mat-icon>
        <span *ngIf="data.Id!=0">{{data.Name}}</span>
      </mat-panel-title>
    </td>
    <td style="width: 385px !important;">
      <mat-panel-title>
        <span *ngIf="data.Id!=0">{{data.TypeDescription}}</span>
        <span *ngIf="data.Id==0">Not specified</span>
      </mat-panel-title>
    </td>
  </mat-expansion-panel-header>
  <div *ngIf="data.isExpanded">
    <div style="display:flex; margin-bottom: 5px;">
      <sh-input-text style="width: 50%;margin-left: 2%;" #manageIntegrationName label="Name" (keyup)="data.Name = manageIntegrationName.value"
        [value]="data.Name" [disabled]="data.TypeDescription == 'DMS' || data.TypeDescription == 'LCM' || data.Id == !0"></sh-input-text>
    </div>
    <div style="display:flex; margin-bottom: 5px;">
      <ng-container *ngIf="data.TypeDescription == 'DMS' || data.TypeDescription == 'LCM' || data.Id != 0; else centralLink">
        <sh-dropdown #manageIntegrationTpe [value]="data.TypeDescription" label="Type" style="width: 50%;margin-left: 2%;" disabled
          ngDefaultControl>
          <sh-menu-item label={{data.TypeDescription}} value={{data.TypeDescription}}></sh-menu-item>
        </sh-dropdown>
      </ng-container>
      <ng-template #centralLink>
        <sh-dropdown #manageIntegrationTpe [value]="data.TypeDescription" label="Type" style="width: 50%;margin-left: 2%;" [disabled]="data.isFieldDisabled"
          ngDefaultControl>
          <sh-menu-item label={{data.TypeDescription}} value={{data.TypeDescription}}></sh-menu-item>
        </sh-dropdown>
      </ng-template>
    </div>
    <div style="display:flex; margin-left: 60%;">
      <sh-button label="Save" style="margin-right: 7px;" [disabled]="data.Name === '' || data.Id!==0 || data.TypeDescription == ''"
        (click)="save(data)"></sh-button>
      <sh-button label="Cancel" style="margin-right: 7px;" [disabled]="data.Name === '' || data.Id!==0" (click)="cancel()"></sh-button>
      <sh-button label="Delete" style="margin-right: 7px;" [disabled]="data.TypeDescription !== 'Central Link' || data.Id===0"
        (click)="delete(data.Id)"></sh-button>
    </div>
  </div>
</mat-expansion-panel>