<body>
  <input type='file' accept="image/*" (change)="readUrl($event)"><br/><br/>
  <div class="main">
 <canvas width="500" height="400" #canvasval class="hideData" [class.displayData]="displayData" (click)="getPixel($event)">
 </canvas>

 <div class="data hideData" [class.displayData]="displayData">
 <h2>Preview</h2> 
 <div #colboxval class="colorval" [class.displayCol]="displayCol"></div>
 <h2>HEX Value:</h2> 
 <input type="text" value={{_hexval}}>
 <h2>RGBA Value:</h2> 
<input type="text" value={{_rgbaval}}>
</div>
</div>
</body>
