a{
    cursor: pointer;
}
a {
    color: #337ab7 !important;
    text-decoration: underline !important;
}
a.disabled {
   pointer-events: none;
   cursor: default;
   color: #000000;
   text-decoration: underline;
}

div:focus{
    outline: none;
}


a.newrule{
    color:red !important;
}

br {
    line-height: 150%;
}

p{
    line-height: 18px;
    margin-top: 10px;
}
