<div class="tool-bar">
    <sh-dropdown label="New Rule" style="width: 350px; height: 20px;" (click)="createNewRule($event)"> 
        <sh-menu-item label="Turnaround Time Rule" icon="done"></sh-menu-item> 
        <sh-menu-item label="On-Time STAT Display Rule" icon="done"></sh-menu-item> 
    </sh-dropdown>
    <sh-button label="Default Sort" (click)="defaultSort($event)"></sh-button>
    <sh-button label="Copy Rule" (click)="copyRule($event)"></sh-button>
    <sh-button label="Delete Rule" (click)="deleteRule($event)"></sh-button>
    <sh-button label="Global Rule Settings" (click)="setGlobalRuleSettings($event)"></sh-button>
</div>
<div style="height: 35%;">
    <table #ruletable class="tableBodyScroll">
        <thead>
            <tr>
                <th style="padding-left: 50px;" (click)="sortRules(0)">Enabled</th>
                <th style="padding-left: -200px;" (click)="sortRules(1)">Title</th>
                <th (click)="sortRules(2)">Rule Type</th>
            </tr>
        </thead>
        <tbody #ruleTableBody class="custom-scroll">
            <tr *ngFor="let ruledata of sampleRulesData | async; let i = index" (click)="ruleSelect($event, ruledata, i)" [class.selected]="ruledata.Id == currentRule">
                <td style="padding-left: 60px;"><input type="checkbox" [(ngModel)]="ruledata.Enabled" [name]="ruledata.Id"></td>
                <td style="padding-left: -180px;">{{ruledata.Name}}</td>
                <td >{{ruledata.TypeDescription}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div style="height: 1px;"></div>
<div style="height: 45%; overflow-y:scroll; background-color: #ffffff; color:#000000;">
    <app-turnaroundtime #tatComponent *ngIf="isTurnAroundTime" [ruleData]="currentrulesData" [isNewRule]="isNewCreatedRule"></app-turnaroundtime>
    
</div>
<div class="action-bar">
    <sh-button label="Save Rule" (click)="saveRule($event)"></sh-button>
    <sh-button label="Cancel" (click)="cancelRule($event)"></sh-button>
</div>
<app-globalrulesettingsconfigurator *ngIf="isShowGRSettings" (onGlobalRuleSet)="onSetGlobalRuleSettings($event)" [settings]="globalRuleSettings"></app-globalrulesettingsconfigurator>