<sh-modal label="Select one or more items from the list below." class="modal" modalHeight="200px" modalWidth="200px">
  <sh-grid>
    <sh-card cardHeight="50%">
      <sh-table #tableEvents>
        <sh-table-row *ngFor="let event of deviceEvents">
          <sh-table-cell columns=8 style="height: 40px; margin-top: -6px;">
            <sh-checkbox id="chkbox_all" label={{event.Name}} style="padding: 0px;"></sh-checkbox>
          </sh-table-cell>
        </sh-table-row>
      </sh-table>
    </sh-card>
    <sh-checkbox id="chkbox_all" label="Select All" active=true></sh-checkbox>
  </sh-grid>
  <sh-button label="OK" (click)="setEvents($event)" style="margin-top: 8px;"></sh-button>
</sh-modal>