a{
    cursor: pointer;
}

a {
    color: #337ab7 !important;
    text-decoration: underline !important;
}
a.disabled {
   pointer-events: none;
   cursor: default;
   color: #000000;
   text-decoration: underline;
}

a.newrule{
    ccolor:red !important;
}

p{
    line-height: 18px;
    margin-top: 10px;
}
